{% extends 'task_generic.html' %}
{% block content %}
<section class="home">
	<section class="presentation">
		<p class="impact-text antialiased"><strong class="evidence">Over</strong>tiny is a minimal, easy and free overtime tracking tool for those who want to convert overtime job hours into relaxing and restful days.</p>
	</section>

	<section class="howto">
			<a href="#" class="eye-play-action">
				<span class="svgsprites eye-play"></span>	
				<span class="learn antialiased">LEARN HOW TO USE</span>
			</a>
	</section>
</section>

<a href="{% url socialauth_begin 'google' %}">Login with Google</a>
{% endblock %}
